<!DOCTYPE>
<html>
    <head>
        <title>Formulaire mariage</title>
    </head>
    <body>
        <p>De : {{ email }}</p>
        <p>Bonjour {{ Nom }} {{ Prenom }} sera présent: {{ presence }} le 14/06/2014.</p>
        <p>Il y aura {{ nbAdult }} adultes et {{ nbChildren }} enfants.</p>
        <p>Les adultes sont {{ nameAdult }} et les enfants sont {{ nameChildren }}.</p>
        <p>Message : {{ message }}.</p>
    </body>
</html>